:root {
  --farbe1: #183b57;
  --farbe2: #8a4267;
  --farbe3: #f7f7f7;
  --farbe4: #ff9142;
  --farbe5: #2b2f42;
  --farbe6: #81c2e7;
  --farbe7: #426e24;

  --blue: #16306b;
  --orange: #e4a536;
  --dark: #2d1d08;
  --gray: #343a46;
  --white: #ffffff;
}

.gray {
  background: var(--gray);
}
.orange {
  background-color: var(--orange);
}
.brown {
  background-color: var(--braun);
}
.blue {
  background-color: var(--blue);
}

.radial_bg_blue {
  background: #343a46;
  background: -moz-linear-gradient(-45deg, #343a46 0%, #16306b 100%);
  background: -webkit-linear-gradient(-45deg, #343a46 0%, #16306b 100%);
  background: linear-gradient(135deg, #343a46 0%, #16306b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#343a46', endColorstr='#16306b',GradientType=1 );
}

.radial_bg_white {
  background: #ffffff;
  background: -moz-linear-gradient(45deg, #ffffff 0%, #eae6e1 100%);
  background: -webkit-linear-gradient(45deg, #ffffff 0%, #eae6e1 100%);
  background: linear-gradient(45deg, #ffffff 0%, #eae6e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eae6e1',GradientType=1 );
}

@media only screen and (max-width: 600px) {

  #header_middle, #header_right{
    display: none;
  }

  h1{
    font-size: 50px !important;
  }
  h2{
    font-size: 40px !important;
  }
  h3{
    font-size: 30px !important;
  }
  h4{
    font-size: 25px !important;
  }
  h5{
    font-size: 20px !important;
  }
  h6{
    font-size: 15px !important;
  }
}



@media only screen and (min-width: 601px) {
  h1{
    font-size: 100px !important;
  }
  h2{
    font-size: 70px !important;
  }
  h3{
    font-size: 50px !important;
  }
  h4{
    font-size: 30px !important;
  }
  h5{
    font-size: 25px !important;
  }
  h6{
    font-size: 20px !important;
  }
}


.fa-chevron-circle-down {
  animation: scrolldown 2s infinite;
}
@keyframes scrolldown {
  0% {
    top: 0%;
  }
  100% {
    top: 20%;
  }
}

.fa-chevron-circle-up {
  animation: scrollup 2s infinite;
}
@keyframes scrollup {
  0% {
    top: 20%;
  }
  100% {
    top: 0%;
  }
}

mark {
  color: var(--orange);
  background-color: var(--blue);

}

/*Font*/

p {
  font-size: 16px;
  font-family: Alegreya Sans;
}

h1 {
  font-family: Bubbler One;
}

h2 {
  font-size: 60px;
}

h3 {
  font-family: Alegreya Sans;
  color: white;
  font-size: 40px;
  align-content: center;
}

.row {
  vertical-align: middle;
  text-align: center;
}

.container-fluid {
  position: relative;
}

body,
html {
  background-color: #ffffff;
  height: 100%;
}

.info_header {
  color: var(--white);
  background-color: var(--orange);

  border-color: var(--white);
  align-content: center;
}

.info_header_inverse {
  color: var(--blue);
  background-color: var(--orange);

  border-color: var(--blue);
  align-content: center;
}

.skill {
  color: var(--blue);
  align-items: center;
  display: flex;
  padding-bottom: 1%;
}

.progress {
  background-color: var(--orange);
  color: var(--orange);
}

#scrolldown_button {
  background: url(https://picsum.photos/1200/800?image=869) center center /
    cover no-repeat;
}
.demo a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font: normal 400 20px/1 "Josefin Sans", sans-serif;
  letter-spacing: 0.1em;
  text-decoration: none;
  transition: opacity 0.3s;
}
.demo a:hover {
  opacity: 0.5;
}

#header {
  width: 100%;
  height: 800px;
  margin: 0;
  background-image: url("../../img/img1.jpg");
  background-size: cover;
}

.navbar {
  background-color: rgba(100, 100, 100, 0.3);

  margin: 0;
}

#start_image {
  background-image: url("../../images/Bild1.jpg") -o-linear-gradient(0.5, 0.9);
  background-size: 100%;
  height: 100%;
  color: #ffffff;
  padding-top: 10%;
  padding-bottom: 20%;
  padding-right: 20%;
}

body {
  background-color: var(--farbe1);
}

#header_text {
  padding-top: 20%;
  color: var(--farbe4);
}

.info_content {
  background-color: var(--braun);
  color: var(--farbe1);
  text-align: center;
}

.info_footer {
  color: var(--braun);
  border: solid;
  border-color: var(--blue);
  height: 25%;
  align-content: center;
}
#brown {
  background-color: var(--dark);
  color: var(--farbe3);
  text-align: center;
}

#footer {
  background-color: var(--farbe5);
}

/* When you move the mouse over the icon, change color */
.nav_item:hover {
  color: var(--orange) !important;
}

.nav_select:hover {
  color: var(--orange) !important;
}
